/* src/components/screens/WishesScreen.css */

.wishes-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: transparent;
  padding: 0 10%;
}

.wishes-header {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #c8baff; /* Светло-фиолетовый */
  text-shadow: 0 0 8px rgba(200, 186, 255, 0.8),
    0 0 12px rgba(150, 130, 255, 0.5);
}

.wishes-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wishes-image {
  width: 40%;
  margin-right: 2rem;
  border-radius: 10px; /* Края изображения закруглим */
}

.wishes-text {
  font-size: 1.5rem;
  max-width: 60%;
  color: #c8baff;
  line-height: 1.6;
  font-family: "Arial", sans-serif; /* Шрифт одинаковый */
  letter-spacing: 0.05rem;
}

.wishes-text span {
  color: #ff8b8b; /* Нежно-красный для акцентов */
  text-shadow: 0 0 8px rgba(255, 139, 139, 0.8);
}

.wishes-text span {
  font-size: 1.8rem;
  color: #fff;
}
